In [ ]:
print(name)

In [ ]:
for i in range(100):
    print(i)

In [ ]:
def some_function(x):
    return x**2


print(some_function(20))

In [ ]:
name = 'Brian Tanton'

for letter in name:
    if letter == letter.upper():
        print(letter)
    if letter == 'a':
        print(letter.upper())

In [ ]:
!where python

# Jupyter Notebook
I will put *this* in *italics* and **this** is **bold**

### Header 3

In [ ]:
# Hello this is a comment

In [ ]:
i = 0
while i < 10:
    print(i)

# Python Pre-Word

#### Question 1
Write a function to print "hello_USERNAME!" USERNAME is the input of the function. The first line of the code has been defined as below.

In [42]:
def hello_name(user_name):
    print(f"hello_{user_name.upper()}!")
    print("hello_" + user_name.upper() + "!")


hello_name('brians')

hello_BRIANS!
hello_BRIANS!

In [6]:
hello_name('bstanton')

hello_BSTANTON!
hello_BSTANTON!

#### Question 2
Write a python function, first_odds that prints the odd numbers from 1-100 and returns nothing

In [12]:
def first_odds():
    num = 1
    while num < 101:
        if num % 2 == 1:
            print(num)
        num = num + 1


first_odds()

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [15]:
def first_odds_again():
    for x in range(1,100,2):
        print(x)
        
        
first_odds_again()

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#### Question 3
Please write a Python function, max_num_in_list to return the max number of a given list. The first line of the code has been defined as below.

In [26]:
def max_num_in_list(a_list):
    return max(a_list)

max_num_in_list([2, 7, 3, 5, 7, 2, 9, 6])

9

In [30]:
def max_num_in_list(a_list):
    current_max = a_list[0]
    for element in a_list:
        if element > current_max:
            current_max = element
    print(current_max)

    
max_num_in_list([2, 7, 3, 5, 7, 2, 9, 6])

9

In [31]:
def max_num_in_list(a_list):
    index = 0
    current_max = a_list[index]
    while index < len(a_list):
        element = a_list[index]
        if element > current_max:
            current_max = element
        index += 1
    print(current_max)

    
max_num_in_list([2, 7, 3, 5, 7, 2, 9, 6])

9

#### Question 4
Write a function to return if the given year is a leap year. A leap year is divisible by 4, but not divisible by 100, unless it is also divisible by 400. The return should be boolean Type (true/false).

In [35]:
# AND - BOTH NEED TO BE TRUE
def is_leap_year(year):
    if year % 4 == 0 and year % 100 != 0:
        return True
    elif year % 400 == 0:
        return True
    else:
        return False
    
print(is_leap_year(2023))
print(is_leap_year(2024))
print(is_leap_year(2000))
print(is_leap_year(2100))

False
True
True
False

In [36]:
def run():
    year = input('What year would you like to check? ')
    while year != 'quit':
        if is_leap_year(int(year)):
            print(f"{year} is a leap year")
        else:
            print(f"{year} is not a leap year.")
            
        year = input('Enter another year or type "quit" to quit')
        
        
        
run()

What year would you like to check? 2000
2000 is a leap year
Enter another year or type "quit" to quit2100
2100 is not a leap year.
Enter another year or type "quit" to quit2023
2023 is not a leap year.
Enter another year or type "quit" to quit32764
32764 is a leap year
Enter another year or type "quit" to quitquit

In [40]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
    
    
print(is_leap_year(2000))
print(is_leap_year(2100))

True
False

In [ ]:
num = [x if y else z for k in range(len(r)) if z + k == t]

for k in range(len(r)):
    if z + k == t:
        if y:
            nums.append(x)
        else:
            nums.append(z)

#### Question 5
Write a function to check to see if all numbers in list are consecutive numbers. For example, [2,3,4,5,6,7] are consecutive numbers, but [1,2,4,5] are not consecutive numbers. The return should be boolean Type.

In [60]:
def is_consecutive(a_list):
    # Loop through the list from the 0 index to the second to last index
    for idx in range(len(a_list) - 1):
        # Get the value at the index
        value = a_list[idx]
        # Get the value of the element directly to the right of our element
        value_to_right = a_list[idx + 1]
        # If our element plus one does not equal the value to its right
        if value + 1 != value_to_right:
            # We know our list is not consecutive, so return False
            return False
    # Lined up with for loop (run after loop is finished), if all values to the right are one greater, then list is consecutive
    return True
        
        

my_list = [2,3,4,5,6,7]
is_consecutive(my_list)

True

In [61]:
is_consecutive([1,2,4,5])

False